
<h1><%= @closet.name %></h1>


<% @closet.items.each do |item| %>
 <p>
  Item: <%= link_to item.name, item_path(item) %><br>
  Url: <%= item.url %>
  <br>
  </p>
<% end %>

<%= link_to "New Item", new_item_path %>
