<div id = "box">

<h1><%= @closet.name %></h1>

<h1><%= link_to "+", new_item_path, {:style=>'display:inline-block;''width:100px;''height:100px;''text-align: center;''padding-top: 25px;
''text-decoration: none;', :class => "butt"} %></h1>

<div class = "row">
<% @closet.items.each do |item| %>

 <div class = "col-md-4">
  <%= item.name %>
  <br>
  <a href = "#"><%= item.url %></a>
  <br><br>
 </div>

<% end %>

</div>


</div>

