<div id = "box">

<h1><%= @closet.name %></h1>
<%= link_to "New Item", new_item_path %>

<div class = "row">
<% @closet.items.each do |item| %>
 <div class = "col-md-4">
 
  <%= item.name %>
  <br>
  <a href = "#"><%= item.url %></a>
  <br><br>
 </div>
<% end %>

</div>

</div>