<strong>Followers</strong>
<div class="row">
<% @followers.each do |follower| %>
<p>
 <div class="col-xs-3"><a href = "/users/<%=follower.slug%>"><%= follower.username %></a></div>
</p>
<% end %>
</div>