<h2><strong>Followers</strong></h2>
<div class="row">
<% @followers.each do |follower| %>
<p>
 <div class="col-xs-3"><a href = "/users/<%=follower.slug%>"><%= follower.username %></a></div>
</p>
<% end %>
</div>

<div class="row">
  <% @sample_users.each do |user| %>
    <%= link_to user.username, user_boards_path(user.id) %></br>
  <% end %>
</div>
