<div class="col-xs-12">
  <center><h2>Following</h2></center>
  <hr>
  <% @following.each do |following| %>
  <p>
   <h4><center><div class="col-xs-3"><a href = "/users/<%=following.slug%>"><%= following.username %>
   <%= image_tag ('UGM-default-user') %></div></center></h4>
  </p>

  <% end %>
</div>
