<div id = "box">
<h1>Board Index</h1>


<h2><%= current_user.email%>'s Closets:</h2>
<% @closets.each do |closet| %>
  <div class="field">
  <%= link_to closet.name, user_closet_path(@current_user, closet) %>
  </div>

<% end %>



<br><br><br>
<%= link_to "CREATE NEW CLOSET", new_user_closet_path(@current_user) %>

