<h1>Board Index</h1>

<h2>Your Closets</h2>
<% @closets.each do |closet| %>
  <div class="field">
    <%= closet.name %>
  </div>

  <!-- <%= link_to "closet", new_user_closet_path(closet.board_id) %> -->

<% end %>



<%= link_to "new closet", new_user_closet_path(@current_user.id) %>
