<h1>Board Index</h1>

<h2>Your Closets</h2>
<% @closets.each do |closet| %>
  <div class="field">
  <%= link_to closet.name, user_closet_path(@current_user, closet) %>
  </div>

<% end %>



<%= link_to "new closet", new_user_closet_path(@current_user) %>
