<h2> New Search</h2>

<div class="col-sm-3">
  <strong>Find Items on Amazon:</strong>
  <%= render partial: 'searches/amazonform.html.erb' %><br>

  <strong>Find Items on Hidefy:</strong><br>
  <%= render partial: 'searches/hidefyform.html.erb' %>
</div>
