<h2> New Search</h2>

<strong>Find Items on Amazon:</strong>
<%= render partial: 'searches/amazon.html.erb' %><br>

<strong>Find Items on Hidefy:</strong><br>
<%= render partial: 'searches/hidefy.html.erb' %>
