/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";

@font-face {
  font-family: 'Streetwear';
  src: url(app/assets/fonts/Streetwear.otf);
}
// Bootstrap body padding for fixed navbar
body { padding-top: 0px; }

#box {
 padding-left: 60px;
}

// .navbar-brand {
//   color: white;
//   font-family: 'Streetwear';
//   position: absolute;
//   margin-top: 5px;
//   margin-left: 5px;
// }

.butt{
   border: 1px solid #ddd;
   background-color: #f0f0f0;

   height: 100 px;
   width: 100 px;


    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;

    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

.butt:hover {
    background-color: #e5e5e5;
}

.butt:active {
    background-color: #ccc;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

#sign-in-text{
  margin-right: 3px;
}

#settings-text {
  margin-right: 5px;
}

.mybtn{
   height: 100px;
   width: 100px;
}

.profile-image-50 {
    background-color: white;
    border: 0px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.card {
  height: 250px;
  width: 250px;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
  position: relative;

}


.card_content {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  position: absolute;
  bottom: -193px;
  
  transition: all 0.5s ease;
}

.card:hover .card_content {
  background-color: rgba(255,255,255,0.9);
  bottom: 0;
}


// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";

// Whatever application styles you have go last
/*@import "base";*/
