<h1>Activities</h1>

<% @activities.each do |activity| %>
  <%= div_for activity do %>

    <%= link_to activity.user.username, activity.user %>
    
    created the closet:  <%=activity.trackable.name%>
   
  <% end %>
<% end %>