<div class="col-md-9">
  <center>
    <h2>Welcome to Snatch That!</h2>
    <p>
      Our mission is simple – we want to change the way you think about shopping.
    </p><br><br>
    <%= image_tag ('example_map'), size: '800x400' %>
  </center>
</div>
